.login-rect{
    position: absolute;
width: 483px;
height: 450px;
left: 399px;
top: 95px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(5, 62, 209, 0.19);
border-radius: 10px;
}
.google-icon{
    position: absolute;
width: 30.93px;
height: 32px;
left: 625px;
top: 135px;
}
.signin-text{
    position: absolute;
width: 223px;
height: 30px;
left: 529px;
top: 179px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.08em;

color: #222222;

}