
<div class="login-rect">
    <app-load [isLoading]="isLoading"></app-load>
</div>

<!-- <button (click)="handleAuthClick()">login </button>
<button (click)="fetchContacts()">Fetch </button>
<button (click)="handleSignoutClick()">Sign Out </button> -->



<img class="google-icon" src="../../../assets/img/google-icon.svg" (click)="this.handleAuthClick()" />
<p class="signin-text"> Sign in With Google</p>



