/* header */
.header{
    position: absolute;
width: 1280px;
height: 78px;
left: 0px;
top: 0px;

}
.rect-150{
    position: absolute;
width: 1280px;
height: 78px;
left: 0px;
top: 0px;

background: linear-gradient(90.21deg, #053ED1 0%, #0F4EAC 100%);

}
.rect-151{
    position: absolute;
width: 1280px;
height: 78px;
left: 0px;
top: 0px;

background: linear-gradient(90.21deg, #053ED1 0%, #0F4EAC 100%);
}
.ellipse-48{
position: absolute;
width: 54px;
height: 54px;
left: 62px;
top: 12px;

/* background: url(.jpg), #C4C4C4; */
border: 2px solid #FFFFFF;
box-sizing: border-box;
}
.ellipse-47{
position: absolute;
width: 58px;
height: 58px;
left: 60px;
top: 10px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
}


.user-name{
position: absolute;
width: 251px;
height: 27px;
left: 130px;
top: 16px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.08em;

color: #FFFFFF;
}
.email{

position: absolute;
width: 161px;
height: 18px;
left: 128px;
top: 45px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.08em;

color: #FFFFFF;
}
.ellipse-49{
position: absolute;
width: 209.95px;
height: 152.48px;
left: 1079.98px;
top: 24.49px;
background: linear-gradient(90.2deg, #097AFF 5.78%, #0041E8 100%);
opacity: 0.6;
transform: rotate(-25.13deg);
}
.logout{
position: absolute;
left: 92.81%;
right: 4.69%;
top: 3.69%;
bottom: 91.71%;
}
.user-ellipse{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 235px;
    top: 203px;
    border: 1px solid #FF0000;
    box-sizing: border-box;
  }