<!-- <p>header works!</p> -->
<div class="header">
    <div class="rect-150">		  
    </div>
    <div ><img *ngIf="user" class="ellipse-48" src="{{user.photo}}"/></div>
    
    <div *ngIf="user" class="user-name">{{user.name}}</div>
    <div *ngIf="user" class="email">{{user.email}}</div>
    <div class="ellipse-49"></div>		
    <img class="ellipse-49" src="../../../assets/img/ellipse-49.svg"/>
    
    <div (click)="logout()"><img class="logout" src="../../../assets/img/logout.svg"/> </div>     
    
</div>