<div class="container">
    
<div #list class="list" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll($event)">
    
    <div class="contacts-mod">Contacts <div class="contacts-count">({{totalContact}})</div></div> 
<div class="list-container-mod" >
	<div *ngFor="let contact of contacts |async" class="contact-item">
        <!-- <img class="user-ellipse" src="../../../assets/img/ellipse-49.svg"/> -->
        <div ><img class="user-ellipse" src="{{contact.photo}}"/></div>
       <div class="user-name">{{contact.name}}</div>
       <div class="email">{{contact.email}}</div>
       <div class="phone">{{contact.phone}}</div>

    </div>
    <div *ngIf="pending || fetching">LOADING...</div>
</div>

</div>
</div>
