.container{
  top:78px;
    position: relative;
    width: 1280px;
    height: 650px;    
    background: #FBFDFE;
    }
.list{
  
    position: absolute;
    width: 902px;
    height: 363px;
    left: 189px;
    top: 110px; 
}
.contacts{
    position: absolute;
    width: 136px;
    height: 39px;
    left: 189px;
    top: 110px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #053ED1;
    
}
.contacts-mod{
    position: absolute;
    width: 136px;
    height: 39px;
    left: 0px;
    top: 0px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #053ED1;
    
}
.contacts-count{
/* ( 170 ) */

width: 55px;
height: 24px;
left: 100px;
top: 0px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.08em;

color: #053ED1;

}

.contact-item{    
width: 100%;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
border-radius: 8px;
}
.list-container {
    height: 100%;
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5vw;
    grid-row-gap: 5px;
  }
  .list-container-mod {
    position:absolute;    
    top:39px;   
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5vw;
    grid-row-gap: 5px;
  }
  .user-name{
    /* position: absolute;
    width: 127px;
    height: 21px;
    left: 285px;
    top: 20px; */
    position: absolute;
    width: 127px;
    height: 21px;
    left: 300px;
    vertical-align: baseline;
    margin: auto;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    margin-top:20px;    
    align-items: center;
    letter-spacing: 0.08em;      
    color: #000000;
  }
  .email{
    position: absolute;
    width: 175px;
    height: 18px;
    left: 535px;
    vertical-align: baseline;
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    margin-top:20px;    
    align-items: center;
    letter-spacing: 0.08em;
    
    color: #000000;
    
  }
  .phone{
    position: absolute;
    width: 175px;
    height: 18px;
    right: 0px;
    vertical-align: baseline;
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    margin-top:20px;    
    align-items: right;
    letter-spacing: 0.08em;
    
    color: #000000;
    
  }
  
  .phone1{
    position: absolute;
    width: 115px;
    height: 21px;
    right: 0px;    
    top:20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    align-items: right;
    letter-spacing: 0.08em;
    
    color: #000000;
  }
  /* .user-ellipse{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;    
    border: 1px solid #FF0000;
    box-sizing: border-box;
  } */
  /* .user-ellipse{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;    
    border: 1px solid #FF0000;
    box-sizing: border-box;
  } */
  .user-ellipse{
    position: absolute;
    width: 54px;
    height: 54px;
    left: 20px;
    
    /* background: url(.jpg), #C4C4C4; */
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    }